.App {
  text-align: center;
  border: 2px solid #61dafb;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container {
  max-width: 300px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.Buttons{
  padding-bottom: 20px;
}

.backgrounde {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Countert {
  border: 2px solid #61dafb;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}
.backgrounde {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.Countert {
  border: 2px solid #61dafb;
  padding: 20px;
  display: inline-block;
}
