.App {
  text-align: center;
  border: 2px solid #61dafb;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container {
  max-width: 300px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.Buttons{
  padding-bottom: 20px;
}

.backgrounde{
  background-color: black;
  position: relative;
  padding-top: calc(72px + (159 - 72) * ((100vw - 375px) / (1920 - 375)));
  overflow-x: hidden;
  min-height: 100vh;
}