.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    Color: #17fdfd;
    font-size: 20px;
    background-color: #000;
}

.Wrapper__Counter {
    border: solid 2px #17fdfd;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.Button-Wrapper {
    display: flex;
    margin-bottom: 20px;
    column-gap: 20px;
}